.home-page{
    background-image: url(/YARAY_HOTEL/images/pool.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:  100svh;
    width: 100%;
    display: flex;
    align-items: center; 

 
}


.dark_shit{

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.204);
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  
}

.content{
    color: #ffffff;
    width: 100%;
    margin: 10rem 4rem 4rem 4rem;
    /* background-color: aqua; */
    /* background-color: #8988881b;
    backdrop-filter: blur(15px);
    border-radius: 2rem;
    padding: 1rem; */
}
.content h2{
    font-size: 4rem;

    text-align: center;
}

.content p{
    font-size: 1.4rem;
    letter-spacing: 3PX;
    margin-top: 1.4rem;
    margin-block-end: 1.4rem;
    text-align: center;
}
.booking-form{
    
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 290px;
    
    /* background-color: blue; */
}
.booking-form h2{
    text-align: center;
    color: #ffffff;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.booking-form form{
    display: flex;
    gap: 1rem;

    /* background-color:red; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 1rem;
    padding: 1rem;
}
.booking-form form input,select{
    height: 3rem;
    /* flex: 1; */
    min-width: 270px;
    border-radius: .5rem;
    border: solid rgb(247, 247, 247);
    border-radius: 3px;
    border-width: 1px;
    outline: none;
    background: rgba(6, 6, 6, 0.328);
    padding-left: .8rem;
    color: #ffffff;
    margin-bottom: .5rem;
    cursor: pointer;
    
}
.booking-form form select option{
    background-color: rgba(0, 0, 0, 0.389);
    color: #000;
}

.booking-form form button{
    height: 3rem;
    cursor: pointer;
    width: 160px;
    border-radius: .5rem;
    border: solid rgb(247, 247, 247);
    border-radius: 15px;
    border-width: 1px;
    outline: none;
    background: rgba(10, 10, 10, 0.444);
    padding-left: .8rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.booking-form form input::placeholder{
    color: #fffbfbc4;
    font-size: 1rem;
}
.booking-form form label{
    color: #ffffff;

}